.footer {
  margin: 0 2rem;
  padding: 2rem;
  background-color: rgba(253, 251, 251, 0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.a_footer{
  max-width: 100px;
}

