.header {
  width: 100%;
  background-image: url(./batman_superman.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 400px;
}

.header__text {
  padding: 40px;
}
